<!DOCTYPE html>
<html>
  <head>
    <title>Chisato</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <P class="alert alert-danger"><%= alert %></P>
      <% end %>
      
    <%= yield %>
  </body>
</html>
